{% extends 'index.html' %}

{% load static %}

{% block body %}
<div class="container-profile ">
     <div class="profile shadow-lg">
          <div class="container-profile-info">
               <div class="container-profile-img">
                    <img src="{{user.profile.imagen.url}}" alt="" class="profile-img" />
                    <a href="{% url 'EditImage' %}">
                         <img alt="" src="{% static 'img/edit_icon.png' %}" class="btn-edit">
                    </a>
               </div>
               <div class="container-profile-data">
                    <div>
                         <h1>{{user.first_name}} {{user.last_name}}</h1>
                         <h4>{{user.username}}</h4>
                         <a href="{{user.profile.webpage}}">{{user.profile.webpage}}</a>
                    </div>
                    <div>
                         <div class="d-flex">
                              <h5>Correo Electrónico:</h5>
                              <a href="{% url 'EditUser' %}">
                                   <img alt="" src="{% static 'img/edit_icon.png' %}" class="btn-edit">
                              </a>
                         </div>
                         <p>{{user.email}}</p>

                    </div>
                    <div>
                         <h5>Password:</h5>
                         <p class="password">**********</p>
                         <a class="nav-link " aria-current="page" href="{% url 'ChangePassword' %}">Cambiar Password</a>
                    </div>
               </div>
          </div>

          <div class="container-profile-about">
               <div class="d-flex align-items-center">
                    <h3>Sobre mí:</h3>
                    <a href="{% url 'EditProfile' %}">
                         <img alt="" src="{% static 'img/edit_icon.png' %}" class="btn-edit">
                    </a>
               </div>
               <p class="profile-description">{{user.profile.description}}</p>
          </div>
     </div>
</div>
{% endblock %}