{% extends 'index.html' %}
{% load static %}
{% block head %}

<title>About Us</title>

{% endblock %}
{% block container %}
<div class="container-about-page-view ">
{% endblock %}
{% block body %}


<div class="overflow-hidden">
    <div class="background-contact">
        <!-- <div class="position-absolute top-50 start-50 translate-middle w-25 h-50 shadow p-4 rounded d-flex flex-column justify-content-between bg-light">
        <p > Proyecto final del equipo Kachinovsky, Gonzalez, Rivero </p>
        </div> -->
        <div class="container-about shadow-lg">
            <div>
                <h1>About Us</h1>
                <p>Proyecto blog para entrega final del curso Python de CoderHouse</p>
                <p>Herramientas utilizadas:</p>
                <div class="container-tools">
                    <img alt="" src="{% static 'img/python.png' %}">
                    <img alt="" src="{% static 'img/django.png' %}">
                    <img alt="" src="{% static 'img/html.png' %}">
                    <img alt="" src="{% static 'img/css.png' %}">
                </div>
                <div class="container-integrantes">
                   <div>
                        <h5>Martin Kachinovsky</h5>
                        <p>Ingeniero Eléctrico de 45 años con gusto por el desarrollo de software. Especializado en automatización industrial</p>
                    </div>
                    <div class="line">
                        <h5>Mario Gonzalez</h5>
                        <p>Estudiante de CoderHouse, actualmente cursando la carrera de Desarrollador Full Stack, soy de Uruguay tengo 23 años, me gusta programar y hacer musica.</p>
                    </div>
                    <div>
                        <h5>Martina Rivero</h5>
                        <p>Argentina, licenciada en administracion de empresas. Me gusta correr y practicar yoga.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}