*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-signUp {
    background-image: url('../img/signUp.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;

}

.container-index {
    width: 100vw;
    min-height: 100vh;
}

.container-profile {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -20;
}

.profile {
    width: 1500px;
    height: 800px;
    border-radius: 15px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: "profile-info profile-about";
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr;
}

.container-profile-info {
    grid-area: profile-info;
    border-right: 1px solid rgba(0, 0, 0, 0.534);
}

.container-profile-about {
    grid-area: profile-about;
    padding-left: 15px;
}

.container-profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-img-navbar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.profile-description {
    text-align: justify;
    font-size: 18px;
}

.password {
    font-weight: bold;
}

.paddingLR {
    padding-left: 150px;
    padding-right: 150px;
}

/* Estilos view de create page */
.container-create-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-page-create {
    border-radius: 15px;
    margin-top: 50px;
    width: 1500px;
    height: 800px;
    padding: 50px;
}

.container-edit-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-page-edit {
    border-radius: 15px;
    margin-top: 50px;
    width: 1500px;
    height: 800px;
    padding: 50px;
}


/* Estilos view de pages*/

.container-page-img {

    width: 100vw;
    height: 500px;
    position: relative;
}

.container-page-img img {
    width: 100%;
    height: 100%;
    position: absolute;

}

.container-page-img div {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.4) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-page-img div h1 {
    font-size: 48px;
}

.container-page-content {
    border-top: 1px solid rgba(0, 0, 0, 0.637);
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-btn {
    display: flex;
    justify-content: space-evenly;
}

.btn-edit {
    width: 25px;
    height: 25px;
}

/* Estilos pagina home */
.container-home{
    overflow-x: hidden;
}
.banner-home {
    background-image: url('../img/banner_blog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 400px;
}

.banner-home div {
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-home h2 {
    color: white;
}

.banner-home button {
    width: 150px;
    height: 50px;
}

.btn-color-primary {
    background: rgb(255, 166, 141);
    background: linear-gradient(90deg, rgba(255, 166, 141, 1) 0%, rgba(253, 58, 132, 1) 100%);
    border: none;
}

.banner-pages {
    background-image: url('../img/banner_pages.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 400px;
}
.banner-pages div {
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-pages h2 {
    color: white;
}

.banner-pages button {
    width: 150px;
    height: 50px;
}




/* Estilos pagina home */

/* Estilos pagina about us */
.background-contact {
    background-image: url('../img/contact.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about{
    width: 1500px;
    height: 800px;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
}
.container-integrantes{
    display: grid;
    grid-template-areas: "i1 i2 i3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 50px;
    height: 100%;
}
.container-integrantes h5{
    text-align: center;
}

.container-tools{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* Estilos pagina about us */


/* .overflow-hidden{
    overflow: hidden;
    width: 100%;
    height: 100%;
} */


.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data-right {
    margin-bottom: 15px;
    text-align: right
}

.chat .chat-history .message-data-right img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.chat .chat-message-bottom {
    padding: 20px;
    position: absolute;
    bottom: 10px;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }

    .chat-app .people-list.open {
        left: 0
    }

    .chat-app .chat {
        margin: 0
    }

    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }

    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}